# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
**/.env
*.env
.env.*
serviceAccountKey.json
**/serviceAccountKey.json

# Build outputs
dist/
**/dist/
build/
.vite/

# Logs & OS files
*.log
.DS_Store
